body{
    /* background halaman web*/
    background-color: #67daff;
}
.wrapper{ background: gray;

}
.container { 
    width: 1200px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    /* background content */
    background-color: #007ac1;
}
.sidebar{
    width: 400px;
    height: 600px;
    float: left;
}
.content{
    width: 800px;
    height: 600px;
    float: right;
}
.clear{ clear: both;
}
#logo{
    float: left;
    width: 200px;
    height: auto;
    padding: 20px;
}
#logo{
    max-width: 100%;
    height: auto;
}
